In [37]:
%run '~/git/Bibliotecas.ipynb'

In [38]:
r=pd.read_csv('~/git/Importacao-por-SH-e-Municipio/temp/q1.csv')

In [39]:
r['test_f%_LR'] =round(100*(r['test_f_LR' ]-r['y_test_f'])/r['y_test_f'])
r['test_f%_RFR']=round(100*(r['test_f_RFR']-r['y_test_f'])/r['y_test_f'])

In [40]:
a1=r.groupby('c_l')['test_f%_LR'].mean().reset_index().rename(columns={'test_f%_LR':'f%_LR_mean'})

a2=r.groupby('c_l')['test_f%_LR'].std().reset_index().rename(columns={'test_f%_LR':'f%_LR_std'})

a3=a1.merge(a2)
a3['desvio_maximo_LR']=np.abs(a3['f%_LR_mean'])+a3['f%_LR_std']

In [41]:
a1=r.groupby('c_l')['test_f%_RFR'].mean().reset_index().rename(columns={'test_f%_RFR':'f%_RFR_mean'})

a2=r.groupby('c_l')['test_f%_RFR'].std().reset_index().rename(columns={'test_f%_RFR':'f%_RFR_std'})

a3=a1.merge(a2)
a3['desvio_maximo_RFR']=np.abs(a3['f%_RFR_mean'])+a3['f%_RFR_std']

In [42]:
print(f"\n\nErro Médio das Regressões:\n\n{round(r[['test_f%_LR','test_f%_RFR']].mean())}")

Erro Médio das Regressões:

test_f%_LR    -6.0
test_f%_RFR   -2.0
dtype: float64

In [43]:
print(f"\n\nDesvio Padrão das Regressões:\n\n{round(r[['test_f%_LR','test_f%_RFR']].std())}")

Desvio Padrão das Regressões:

test_f%_LR     522.0
test_f%_RFR     28.0
dtype: float64

In [44]:
print('\n\nDevido a maior desvio padrão da Regressão Linear, seguiremos o estudo\n\
somente processando a regressão por Floresta Randômica.\n')

Devido a maior desvio padrão da Regressão Linear, seguiremos o estudo
somente processando a regressão por Floresta Randômica.

In [45]:
print('\n\n\nMelhores Combinações de Variáveis para Previsão\n')

Melhores Combinações de Variáveis para Previsão

In [46]:
a3=a3.sort_values(by=['desvio_maximo_RFR'])
display(round(a3).head(15).reset_index(drop=True))

,c_l,f%_RFR_mean,f%_RFR_std,desvio_maximo_RFR
0,"Ano1,miFOB_f_ad",-3.0,18.0,21.0
1,"Ano1,miFOB_f_ad,miFOB_c_ad",-1.0,21.0,21.0
2,"Ano1,miFOB_f_ad,KT_c_ad,miFOB_c_ad",-1.0,21.0,22.0
3,"Ano1,rel_preço_ad,miFOB_f_ad",-3.0,19.0,22.0
4,"Ano1,rel_preço_ad,mm_ad",-0.0,22.0,22.0
5,"Ano1,miFOB_f_ad,KT_c_ad",-1.0,21.0,22.0
6,"Ano1,rel_preço_ad,mm_ad,KT_c_ad,miFOB_c_ad",-0.0,22.0,22.0
7,"Ano1,rel_preço_ad,mm_ad,KT_c_ad",-0.0,22.0,22.0
8,"Ano1,mm_ad,miFOB_f_ad,miFOB_c_ad",-2.0,20.0,22.0
9,"Ano1,mm_ad,miFOB_f_ad",-2.0,20.0,22.0
10,"Ano1,rel_preço_ad,miFOB_f_ad,miFOB_c_ad",-1.0,21.0,22.0
11,"Ano1,rel_preço_ad,miFOB_f_ad,KT_c_ad",-2.0,21.0,22.0
12,"Ano1,mm_ad,miFOB_f_ad,KT_c_ad,miFOB_c_ad",-2.0,20.0,22.0
13,"Ano1,rel_preço_ad,miFOB_f_ad,KT_c_ad,miFOB_c_ad",-2.0,21.0,22.0
14,"Ano1,rel_preço_ad,mm_ad,miFOB_f_ad,KT_c_ad,miF...",-3.0,20.0,23.0

Considerando todos os valores de desvio_maximo_FR sem diferença significativa, faremos opção por a combinação de fatores da linha 4, que alé do Ano1 , leava em conta também as chuvas e a relação de preço entre fertilizantes e café.

In [47]:
display(round(a3[a3.c_l=='Ano1']))

    c_l  f%_RFR_mean  f%_RFR_std  desvio_maximo_RFR
0  Ano1          3.0        25.0               28.0

In [48]:
display(round(a3[a3.c_l=='Ano4']))

     c_l  f%_RFR_mean  f%_RFR_std  desvio_maximo_RFR
64  Ano4          5.0        34.0               39.0

In [49]:
display(round(a3[a3.c_l=='Ano7']))

     c_l  f%_RFR_mean  f%_RFR_std  desvio_maximo_RFR
96  Ano7         12.0        46.0               58.0

In [50]:
display(round(a3[a3.c_l=='Ano10']))

      c_l  f%_RFR_mean  f%_RFR_std  desvio_maximo_RFR
32  Ano10          3.0        27.0               30.0

In [51]:
display(round(a3[a3.c_l=='mm_ad']))

       c_l  f%_RFR_mean  f%_RFR_std  desvio_maximo_RFR
135  mm_ad        -12.0        24.0               36.0

In [52]:
display(round(a3[a3.c_l=='rel_preço_ad']))

              c_l  f%_RFR_mean  f%_RFR_std  desvio_maximo_RFR
143  rel_preço_ad         -9.0        26.0               35.0

In [53]:
display(round(a3[a3.c_l=='miFOB_f_ad']))

            c_l  f%_RFR_mean  f%_RFR_std  desvio_maximo_RFR
131  miFOB_f_ad        -12.0        24.0               36.0

In [54]:
display(round(a3[a3.c_l=='miFOB_c_ad']))

            c_l  f%_RFR_mean  f%_RFR_std  desvio_maximo_RFR
130  miFOB_c_ad         -5.0        23.0               28.0

In [55]:
display(round(a3[a3.c_l=='KT_c_ad']))

         c_l  f%_RFR_mean  f%_RFR_std  desvio_maximo_RFR
128  KT_c_ad          5.0        34.0               39.0

In [56]:
col_prev_multi_24=a3.iloc[4:5,:]
col_prev_multi_24.to_csv('~/git/Importacao-por-SH-e-Municipio/temp/col_prev_multi_24.csv')

In [57]:
print(f'\n\nPara a previsão do ano de 2024, utilizaremos a primeira combinação do rank acima,\n\
porém ressaltando que os 15 testes acima apresentaram resultados semelhantes,\n\n\
No teste feito para identificar o melhor mês para iniciar agrupamento de 12 meses\n\
se pode verificar que o agrupamento que apresentou a melhor performance foi o \n\
grupamento com início no mês 1, Janeiro, o que equivale ao ano comum, normalmente\n\
utilizado. Por isso, ele será utilizado na previsão para o ano 2024.\n\n\
A seguir, para completar a compreensão do tema, apresentamos o rank das\n\
piores combinações de características para a previsão.\n')

Para a previsão do ano de 2024, utilizaremos a primeira combinação do rank acima,
porém ressaltando que os 15 testes acima apresentaram resultados semelhantes,

No teste feito para identificar o melhor mês para iniciar agrupamento de 12 meses
se pode verificar que o agrupamento que apresentou a melhor performance foi o
grupamento com início no mês 1, Janeiro, o que equivale ao ano comum, normalmente
utilizado. Por isso, ele será utilizado na previsão para o ano 2024.

A seguir, para completar a compreensão do tema, apresentamos o rank das
piores combinações de características para a previsão.

In [58]:
print('\nPiores Combinações de Variáveis para Previsão')
display(round(a3.sort_values(by=['desvio_maximo_RFR'], ascending=False).head(3)))

Piores Combinações de Variáveis para Previsão

                           c_l  f%_RFR_mean  f%_RFR_std  desvio_maximo_RFR
97                Ano7,KT_c_ad         11.0        46.0               58.0
96                        Ano7         12.0        46.0               58.0
113  Ano7,rel_preço_ad,KT_c_ad         11.0        46.0               57.0

In [59]:
r.groupby('duração_treino')['test_f%_RFR'].mean().astype(int).reset_index().sort_values(by=['test_f%_RFR'])

   duração_treino  test_f%_RFR
1               7           -6
0               5           -3
2               9           -1
3              11            0
4              13           24

In [60]:
print(f"Os testes objetivando identificar o melhor duração do período de treino para\n\
previsão não permitiram uma conclusão, como se pode ver abaixo:\n\n{r.groupby('duração_treino')['test_f%_RFR'].mean().astype(int).reset_index().sort_values(by=['test_f%_RFR'])}.\n\n\
Com isso, a previsão será feita utilizando a máxima duração possível.")

Os testes objetivando identificar o melhor duração do período de treino para
previsão não permitiram uma conclusão, como se pode ver abaixo:

   duração_treino  test_f%_RFR
1               7           -6
0               5           -3
2               9           -1
3              11            0
4              13           24.

Com isso, a previsão será feita utilizando a máxima duração possível.

In [61]:
print('\n\nApós identificar qual combinção destes parâmetros proporcoina\n\
a maior precisão das previsões, faremos, em fim, a previsão para 2024.\n')

Após identificar qual combinção destes parâmetros proporcoina
a maior precisão das previsões, faremos, em fim, a previsão para 2024.